.card {
  border: 2px black solid;
  margin: 1rem auto;
  padding: 1rem;
  width: 15rem;
}

.card h3 {
  display: flex;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: space-around;

  margin-top: 4rem;
}